* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image: url(istockphoto-1255604806-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

img {
  display: block;
  position:absolute;
  bottom: 250px;
  right: 380px;
  height: 230px;
}

#mySidenav a {
  right: -60px;
  color: rgb(43, 9, 9);
  width: 140px;
  padding: 15px;
  position: absolute;
  transition: 0.3s;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px 0 0 5px;
}

#mySidenav a:hover {
  right: 0;
}

footer {
  text-align:left;
  padding: 4px;
  background-color: grey;
  color: white;
}

#about {
  top: 20px;
  background-color: green;
}

#blog {
  top: 90px;
  background-color: blue;
}

#projects {
  top: 160px;
  background-color: red;
}

#contact {
  top: 230px;
  background-color: gray;
}

.about {
  color: orange;
}

.blog {
  color: green;
}

.projects {
  color: blue;
}

.contact {
  color: yellow;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: none;
  width: 20%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style of counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1px;
  text-align: center;
  background-color: #f1f1f1;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 1px solid #6d64cd;
  text-align: left;
  padding: 8px;
  background-color: rgb(53, 138, 175);
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;

}

.flex-container>div {
  background-color: rgb(69, 135, 201);
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
}

.grid-item {
  background-color: rgb(157, 204, 252);
  border: 1px solid rgb(255, 255, 255);
  color: #072850;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

td {
  border: 1px solid #5349bf;
  text-align: left;
  padding: 8px;
  background-color: rgb(102, 169, 246);
}

tr:nth-child(even) {
  background-color: #ac3f3f;
}

.top-menu {
  background-color: rgb(38, 98, 217);
  width: 1375px;
  height: 50px;
  color: wheat;
  font-family: 'Times New Roman', Times, serif;
  font-size: 70%;
  padding: 1px;
  text-align: center;
}

#heading {
  color: rgb(60, 6, 6);
  text-align: center;
}

p {
  color: rgb(18, 54, 91);
  font-size: larger
}

img {
  float: right;
  width: 350px;
  height: px;
}

a {
  color: rgb(1, 58, 149);
}

#MU {
  color: rgb(0, 0, 0);

}

#SKC {
  color: rgb(0, 0, 0) ;
}

#HC {
  color:  rgb(0, 0, 0);
}

#FR {
  color: rgb(0, 0, 0) ;
}

#BB {
  color:  rgb(0, 0, 0);
}