
    *{
      font-family: 'Times New Roman', Times, serif;
    }
    body {
      background-color: lightblue;
      background-image: url(istockphoto-986656804-612x612.jpg);
      
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th{
      border: 1px solid #5349bf;
      text-align: left;
      padding: 8px;
      background-color: rgb(20, 115, 144);
    }

    td {
      border: 1px solid #5349bf;
      text-align: left;
      padding: 8px;
      background-color: rgb(106, 148, 225);
    }
    h1,h2{
      text-decoration: underline;
    }


    tr:nth-child(even) {
      background-color: #ac3f3f;
    }
    .top-menu{
        background-color: rgb(64, 64, 189);
            color: wheat;
         font-family: 'Times New Roman', Times, serif;
         font-size: 70%;
         padding: 1px;
         text-align: center;
    }
    #heading{
        color: rgb(6, 33, 60);
         text-align: center;
    }
    p{
        color: rgb(18, 54, 91);
         font-size: larger
    }
    img{
        float:right;width:250px;height:180px;
    }
    ul{
        font-size: large;
    }
    a{
        color: aliceblue;
    }
    ul li a {
        color: rgb(53, 53, 177);
    }
    #MU{
      color: rgb(58, 58, 74);
    
    }
#SKC{
  color: rgb(58, 58, 74);
}
#HC{
  color: rgb(58, 58, 74);
}
#FR{
  color: rgb(58, 58, 74);
}
#BB{
  color: rgb(58, 58, 74);
}